################################################################################################
# MacOS
################################################################################################
**/.DS_Store
!*.so